:root {
  --primary: #febf01;
  --primary-text: #ffffff;
  --secondary: #313131;
  --secondary-text: #ffffff;
  --third: #215d8f;
  --trees: #4caf50;
  --accent: #505050;
  --accent-text: #ffffff;
}

